<template>
    <div class="about">
        <h1>Hola {{t_name}} </h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quod ab voluptatem minus architecto, corrupti, molestias at dolorem inventore mollitia ex. Recusandae sapiente officiis odit possimus quidem eveniet obcaecati culpa?</P>
    </div>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      t_name: this.$route.params.name
    };
  }
}
</script>
