<template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
    </nav>
    <transition name="switch" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

body {
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  padding-top: 30px;
}

body, html {
  margin: 0;
  height: calc(100% - 50px);
}

#app {
  background: #fff;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto auto auto;
  min-height: 70px;
  height: auto!important;
  overflow-x: hidden;
}

nav {
  padding: 20px 20px 20px 0;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: #c5e8fc;
  border-radius: 10px;
  color: #69a5f3;
  font-weight: bold;
  margin-right: 10px;
}

.switch-enter-active {
  animation: coming .3s;
  animation-delay: .1s;
  opacity: 0;
}

.switch-leave-active {
  animation: going .3s;
}

@keyframes going {
  from {
    transform: translateZ(0);
  }
  to {
    transform: translateZ(-10px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateZ(-10px);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

</style>
